
@font-face {
    /* 1 */
    font-family: 'dream1';
    font-style: normal;
    font-weight: 500;
    src: url('../asset/fonts/SCDream1.otf') format('truetype');
  }

  @font-face {
    /* 3 */
    font-family: 'dream3';
    font-style: normal;
    font-weight: 500;
    src: url('../asset/fonts/SCDream3.otf') format('truetype');
  }

  @font-face {
  /* 4 */
    font-family: 'dream4';
    font-style: normal;
    font-weight: 500;
    src: url('../asset/fonts/SCDream4.otf') format('truetype');
  }


  @font-face {
  /* 7 */
    font-family: 'dream7';
    font-style: normal;
    font-weight: 500;
    src: url('../asset/fonts/SCDream7.otf') format('truetype');
  }


  @font-face {
  /* 귀염 */
    font-family: 'localFont';
    font-style: normal;
    font-weight: 500;
    src: url('../asset/fonts/localFont.ttf') format('truetype');
  }
  *{

    font-family: 'dream4';
  }